.git
.gitignore
.travis.yml
Makefile
blib
pm_to_blib
*.bak
*.old
MYMETA.json
MYMETA.yml
src
node_modules
package.json
package-lock.json
npm-debug.log
gulpfile.js
*.kdbx
.htpasswd
doc
public/scripts/bundle.js.*
t
cpanfile
MANIFEST
MANIFEST.SKIP
Makefile.PL
